<div class="container">

  <h2><%= @article.title %></h2>
  <p><%= @article.content %></p>

  <ul>
    <li><%= link_to "Check out more articles", articles_path %></li>
    <li><%= link_to "Edit this article?", edit_article_path %></li>
    <li><%= link_to "Delete this article?", article_path(@article), method: :delete, data: { confirm: "Are you sure you want to delete this article?"} %></li>
  </ul>

</div>
